<a href="https://colab.research.google.com/github/HongWonSeok/HongWonSeok/blob/main/%EC%82%B0%ED%95%99%ED%98%91%EB%A0%A5_%EB%AA%A8%EB%8D%B8%EA%B0%9C%EB%B0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import torch
import pandas as pd
import torch.nn as nn
from torch.utils.data import random_split, DataLoader, TensorDataset
import torch.nn.functional as F
import numpy as np
import torch.optim as optim
from torch.optim import Adam

In [2]:
# 로컬 pc에서 파일 가져오기
from google.colab import files
uploaded = files.upload() # 파일 업로드 기능 실행

for fn in uploaded.keys(): #업로드된 파일 정보 출력
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving AI 분석용 자료_편집본_2022.05.25.xlsx to AI 분석용 자료_편집본_2022.05.25.xlsx
User uploaded file "AI 분석용 자료_편집본_2022.05.25.xlsx" with length 745168 bytes


df = df.drop(‘no’, axis=1)
df = df.drop(‘class’,axis=1) #class column 삭제
df = df.drop(‘site’,axis=1) #site column 삭제
df_kangwon = df_kangwon.drop(0, axis=0) #속성 이름 모두 제거
df_column_list = list(df.columns)
list_buf = df_kangwon.columns
df_kangwon_column_list = [i.lower() for i in list_buf]
len(df_kangwon_column_list)
not_in = [i for i in df_column_list if i.lower() not in df_kangwon_column_list]
df = df.drop(columns = not_in)

In [3]:
# 데이터읽기
df = pd.read_excel(uploaded['AI 분석용 자료_편집본_2022.05.25.xlsx'])

df.head()

,no,class,site,age,height,weight_bef,bmi_bef,weight_aft,bmi_aft,medu,...,TARGET_IIOC,TARGET_IUGR,TARGET_PLPREV,TARGET_BLEED,TARGET_PLABP,TARGET_BP,PTB_37,PTB_34,TARGER_LBWT,TARGET_PTB
0,10001,합병증임신,화천,27,154.0,.,.,69,29.1,3,...,1,0,0,0,0,0,1,1,1,1
1,10004,합병증임신,화천,48,158.0,.,.,72,28.8,5,...,0,0,1,0,0,0,0,0,0,0
2,10005,관리산모,화천,44,155.0,.,.,56,23.3,4,...,0,0,0,0,0,0,0,0,0,0
3,10008,관리산모,화천,35,163.0,.,.,55,20.7,5,...,0,0,0,0,0,0,0,0,0,0
4,10011,관리산모,화천,35,163.0,.,.,53,19.9,3,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.isnull().sum()

no             0
class          0
site           0
age            0
height         0
              ..
TARGET_BP      0
PTB_37         0
PTB_34         0
TARGER_LBWT    0
TARGET_PTB     0
Length: 63, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 63 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   no               2687 non-null   int64
 1   class            2687 non-null   object
 2   site             2687 non-null   object
 3   age              2687 non-null   int64
 4   height           2687 non-null   float64
 5   weight_bef       2687 non-null   object
 6   bmi_bef          2687 non-null   object
 7   weight_aft       2687 non-null   object
 8   bmi_aft          2687 non-null   object
 9   medu             2687 non-null   int64
 10  moccp            2687 non-null   int64
 11  moccp_t          2687 non-null   int64
 12  gage2            2687 non-null   object
 13  gedu             2687 non-null   int64
 14  goccp            2687 non-null   int64
 15  preg_bleno       2687 non-null   int64
 16  met_ope          2687 non-null   int64
 17  SBP1             2687 non-null   object
 18  DBP1             2687 non-null   object
 19  s1_glu_amt       2687 non-null   object
 20  s1_usug_amt      2687 non-null   object
 21  s1_upro_amt      2687 non-null   object
 22  bef_sleep        2687 non-null   int64
 23  aft_sleep        2687 non-null   int64
 24  bef_ink          2687 non-null   int64
 25  bef_folt         2687 non-null   int64
 26  aft_cal          2687 non-null   int64
 27  SORT2            2687 non-null   int64
 28  bef_cont         2687 non-null   int64
 29  miscarry         2687 non-null   int64
 30  misc             2687 non-null   int64
 31  abactio          2687 non-null   int64
 32  childbirth       2687 non-null   int64
 33  childbirth_no    2687 non-null   int64
 34  abuse_no0        2687 non-null   int64
 35  V1_BMI           2687 non-null   int64
 36  V1_AGE40         2687 non-null   int64
 37  V1_glu_amt       2687 non-null   int64
 38  V1_UPRO          2687 non-null   object
 39  V1_USUG          2687 non-null   object
 40  V1_FHISTORY_DM   2687 non-null   int64
 41  V1_FHISTORY_HTN  2687 non-null   int64
 42  v1_medu          2687 non-null   object
 43  V1_preg_htn      2687 non-null   int64
 44  V1_preg_dm       2687 non-null   int64
 45  pre_birth        2687 non-null   int64
 46  AGE_NEW          2687 non-null   int64
 47  TARGET_GDM       2687 non-null   int64
 48  TARGET_PE        2687 non-null   int64
 49  TARGET_E         2687 non-null   int64
 50  TARGET_GHTN      2687 non-null   int64
 51  TARGET_PPROM     2687 non-null   int64
 52  TARGET_PTL       2687 non-null   int64
 53  TARGET_IIOC      2687 non-null   int64
 54  TARGET_IUGR      2687 non-null   int64
 55  TARGET_PLPREV    2687 non-null   int64
 56  TARGET_BLEED     2687 non-null   int64
 57  TARGET_PLABP     2687 non-null   int64
 58  TARGET_BP        2687 non-null   int64
 59  PTB_37           2687 non-null   int64
 60  PTB_34           2687 non-null   int64
 61  TARGER_LBWT      2687 non-null   int64
 62  TARGET_PTB       2687 non-null   int64
dtypes: float64(1), int64(47), object(15)
memory usage: 1.3+ MB

In [6]:
df = df.drop('class', axis=1)
df = df.drop('no', axis=1)
df = df.drop('site',axis=1) #site column 삭제

## 타겟 feature 삭제
df = df.drop('TARGET_PE',axis=1)
df = df.drop('TARGET_E',axis=1)
df = df.drop('TARGET_GHTN',axis=1)
df = df.drop('TARGET_PPROM',axis=1)
df = df.drop('TARGET_PTL',axis=1)
df = df.drop('TARGET_IIOC',axis=1)
df = df.drop('TARGET_IUGR',axis=1)
df = df.drop('TARGET_PLPREV',axis=1)
df = df.drop('TARGET_BLEED',axis=1)
df = df.drop('TARGET_PLABP',axis=1)
df = df.drop('TARGET_BP',axis=1)
df = df.drop('PTB_37',axis=1)
df = df.drop('PTB_34',axis=1)
df = df.drop('TARGER_LBWT',axis=1)
df = df.drop('TARGET_PTB',axis=1)


## 중복된 변수 제거
df = df.drop('age',axis=1)
df = df.drop('height',axis=1)
df = df.drop('weight_bef',axis=1)
df = df.drop('bmi_bef',axis=1)
df = df.drop('weight_aft',axis=1)
df = df.drop('medu',axis=1)
df = df.drop('moccp',axis=1)
df = df.drop('gage2',axis=1)
df = df.drop('preg_bleno',axis=1)
df = df.drop('s1_glu_amt',axis=1)
df = df.drop('s1_usug_amt',axis=1)
df = df.drop('s1_upro_amt',axis=1)
df = df.drop('SORT2',axis=1)
df = df.drop('miscarry',axis=1)
df = df.drop('misc',axis=1)
df = df.drop('abactio',axis=1)
df = df.drop('childbirth',axis=1)
df = df.drop('abuse_no0',axis=1)
df = df.drop('V1_AGE40',axis=1)

df.head()

,bmi_aft,moccp_t,gedu,goccp,met_ope,SBP1,DBP1,bef_sleep,aft_sleep,bef_ink,...,V1_UPRO,V1_USUG,V1_FHISTORY_DM,V1_FHISTORY_HTN,v1_medu,V1_preg_htn,V1_preg_dm,pre_birth,AGE_NEW,TARGET_GDM
0,29.1,0,3,3,0,124,68,2,4,0,...,.,.,0,0,1,0,0,1,0,0
1,28.8,0,3,4,1,117,66,3,1,0,...,0,0,0,0,2,0,0,1,2,0
2,23.3,7,3,1,0,.,.,3,3,1,...,.,.,1,0,1,0,0,1,2,0
3,20.7,0,5,3,0,108,77,2,2,1,...,.,.,0,0,2,0,0,1,1,0
4,19.9,0,3,3,0,88,63,4,4,0,...,.,.,0,0,1,0,0,0,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bmi_aft          2687 non-null   object
 1   moccp_t          2687 non-null   int64
 2   gedu             2687 non-null   int64
 3   goccp            2687 non-null   int64
 4   met_ope          2687 non-null   int64
 5   SBP1             2687 non-null   object
 6   DBP1             2687 non-null   object
 7   bef_sleep        2687 non-null   int64
 8   aft_sleep        2687 non-null   int64
 9   bef_ink          2687 non-null   int64
 10  bef_folt         2687 non-null   int64
 11  aft_cal          2687 non-null   int64
 12  bef_cont         2687 non-null   int64
 13  childbirth_no    2687 non-null   int64
 14  V1_BMI           2687 non-null   int64
 15  V1_glu_amt       2687 non-null   int64
 16  V1_UPRO          2687 non-null   object
 17  V1_USUG          2687 non-null   object
 18  V1_FHISTORY_DM   2687 non-null   int64
 19  V1_FHISTORY_HTN  2687 non-null   int64
 20  v1_medu          2687 non-null   object
 21  V1_preg_htn      2687 non-null   int64
 22  V1_preg_dm       2687 non-null   int64
 23  pre_birth        2687 non-null   int64
 24  AGE_NEW          2687 non-null   int64
 25  TARGET_GDM       2687 non-null   int64
dtypes: int64(20), object(6)
memory usage: 545.9+ KB

# 데이터 전처리
* missing value imputation [[참조](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html)] -> IterativeImputer에 대한 설명

* ### IterativeImputer 모듈이란 np.nan값을 그 열의 평균값으로 채워주는 역할
* ### IterativeImputer 모듈 불러오기

In [8]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [9]:
imp_mean = IterativeImputer(random_state=0)
df

,bmi_aft,moccp_t,gedu,goccp,met_ope,SBP1,DBP1,bef_sleep,aft_sleep,bef_ink,...,V1_UPRO,V1_USUG,V1_FHISTORY_DM,V1_FHISTORY_HTN,v1_medu,V1_preg_htn,V1_preg_dm,pre_birth,AGE_NEW,TARGET_GDM
0,29.1,0,3,3,0,124,68,2,4,0,...,.,.,0,0,1,0,0,1,0,0
1,28.8,0,3,4,1,117,66,3,1,0,...,0,0,0,0,2,0,0,1,2,0
2,23.3,7,3,1,0,.,.,3,3,1,...,.,.,1,0,1,0,0,1,2,0
3,20.7,0,5,3,0,108,77,2,2,1,...,.,.,0,0,2,0,0,1,1,0
4,19.9,0,3,3,0,88,63,4,4,0,...,.,.,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,23.9,0,5,3,0,120,80,2,2,1,...,0,0,0,0,2,0,0,1,1,0
2683,20,8,5,3,0,120,80,2,3,0,...,0,0,0,0,2,0,0,1,0,1
2684,30.5,0,6,3,0,121,79,3,2,1,...,0,0,0,0,2,0,0,0,1,0
2685,21.3,0,4,3,0,128,86,4,4,0,...,0,0,0,0,1,0,0,1,1,0
2686,23.1,8,5,3,0,104,62,3,3,0,...,0,0,0,0,2,0,0,0,1,0

In [10]:
for i in df.columns:
  df[i].replace('.', np.nan, inplace=True)
  df[i].replace('\xa0 ', np.nan, inplace=True)
  df[i].replace('#NAME?', np.nan, inplace=True)

In [11]:
#결측치 개수 구하기
for i in df.columns:
  if (df[i].isnull().sum()/df.shape[0]) >= 0.8:
    print(df[i].isnull().sum())
# 결측치 비율이 80퍼 이상인 columns가 없다는 걸 확인

In [12]:
df.iloc[:, 0:114] = imp_mean.fit_transform(df.iloc[:, 0:114]) 
df

,bmi_aft,moccp_t,gedu,goccp,met_ope,SBP1,DBP1,bef_sleep,aft_sleep,bef_ink,...,V1_UPRO,V1_USUG,V1_FHISTORY_DM,V1_FHISTORY_HTN,v1_medu,V1_preg_htn,V1_preg_dm,pre_birth,AGE_NEW,TARGET_GDM
0,29.1,0.0,3.0,3.0,0.0,124.000000,68.000000,2.0,4.0,0.0,...,0.019892,0.043201,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,28.8,0.0,3.0,4.0,1.0,117.000000,66.000000,3.0,1.0,0.0,...,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0
2,23.3,7.0,3.0,1.0,0.0,110.318626,72.312099,3.0,3.0,1.0,...,0.024696,0.040340,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0
3,20.7,0.0,5.0,3.0,0.0,108.000000,77.000000,2.0,2.0,1.0,...,0.014442,0.046870,0.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0
4,19.9,0.0,3.0,3.0,0.0,88.000000,63.000000,4.0,4.0,0.0,...,0.002223,-0.008125,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,23.9,0.0,5.0,3.0,0.0,120.000000,80.000000,2.0,2.0,1.0,...,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0
2683,20.0,8.0,5.0,3.0,0.0,120.000000,80.000000,2.0,3.0,0.0,...,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0
2684,30.5,0.0,6.0,3.0,0.0,121.000000,79.000000,3.0,2.0,1.0,...,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0
2685,21.3,0.0,4.0,3.0,0.0,128.000000,86.000000,4.0,4.0,0.0,...,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2686,23.1,8.0,5.0,3.0,0.0,104.000000,62.000000,3.0,3.0,0.0,...,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0

### StandardScaler() 모듈을 통해서 보다 쉽게 정규화를 한다.
정규화 식은 (x - mean(평균)) / std(표준편차) 이다.

기존에 있던 정규화 부분을 모듈을 사용한 간편하게 바꿨다.

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()   

df_scaler = df
for i in df.columns:
  df_scaler[i] = df_scaler[i].astype(float)

df_scaler = scaler.fit_transform(df_scaler)

df_scaler

array([[ 1.25349585, -0.63179173, -1.14776449, ...,  0.36179035,
        -0.75863305, -0.24315623],
       [ 1.18229795, -0.63179173, -1.14776449, ...,  0.36179035,
         2.21503143, -0.24315623],
       [-0.12299674,  1.3042413 , -1.14776449, ...,  0.36179035,
         2.21503143, -0.24315623],
       ...,
       [ 1.58575268, -0.63179173,  1.31749785, ..., -2.76403173,
         0.72819919, -0.24315623],
       [-0.59764935, -0.63179173, -0.32601038, ...,  0.36179035,
         0.72819919, -0.24315623],
       [-0.170462  ,  1.58081744,  0.49574374, ..., -2.76403173,
         0.72819919, -0.24315623]])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bmi_aft          2687 non-null   float64
 1   moccp_t          2687 non-null   float64
 2   gedu             2687 non-null   float64
 3   goccp            2687 non-null   float64
 4   met_ope          2687 non-null   float64
 5   SBP1             2687 non-null   float64
 6   DBP1             2687 non-null   float64
 7   bef_sleep        2687 non-null   float64
 8   aft_sleep        2687 non-null   float64
 9   bef_ink          2687 non-null   float64
 10  bef_folt         2687 non-null   float64
 11  aft_cal          2687 non-null   float64
 12  bef_cont         2687 non-null   float64
 13  childbirth_no    2687 non-null   float64
 14  V1_BMI           2687 non-null   float64
 15  V1_glu_amt       2687 non-null   float64
 16  V1_UPRO          2687 non-null   float64
 17  V1_USUG          2687 non-null   float64
 18  V1_FHISTORY_DM   2687 non-null   float64
 19  V1_FHISTORY_HTN  2687 non-null   float64
 20  v1_medu          2687 non-null   float64
 21  V1_preg_htn      2687 non-null   float64
 22  V1_preg_dm       2687 non-null   float64
 23  pre_birth        2687 non-null   float64
 24  AGE_NEW          2687 non-null   float64
 25  TARGET_GDM       2687 non-null   float64
dtypes: float64(26)
memory usage: 545.9 KB

In [25]:
labels = {'NO' : 0, 'YES' : 1}
input = df.iloc[:, :-2]            # We drop the first column and the two last ones. 
print('\nInput values are:') 
print(input.head())   
output = df.loc[:, 'TARGET_GDM']   # Output Y is the last column  
print('\nThe output value is:') 
print(output.head())

Input values are:
   bmi_aft  moccp_t  gedu  goccp  met_ope        SBP1       DBP1  bef_sleep  \
0     29.1      0.0   3.0    3.0      0.0  124.000000  68.000000        2.0
1     28.8      0.0   3.0    4.0      1.0  117.000000  66.000000        3.0
2     23.3      7.0   3.0    1.0      0.0  110.318626  72.312099        3.0
3     20.7      0.0   5.0    3.0      0.0  108.000000  77.000000        2.0
4     19.9      0.0   3.0    3.0      0.0   88.000000  63.000000        4.0

   aft_sleep  bef_ink  ...  V1_BMI  V1_glu_amt   V1_UPRO   V1_USUG  \
0        4.0      0.0  ...     0.0         0.0  0.019892  0.043201
1        1.0      0.0  ...     0.0         0.0  0.000000  0.000000
2        3.0      1.0  ...     0.0         0.0  0.024696  0.040340
3        2.0      1.0  ...     0.0         0.0  0.014442  0.046870
4        4.0      0.0  ...     0.0         0.0  0.002223 -0.008125

   V1_FHISTORY_DM  V1_FHISTORY_HTN  v1_medu  V1_preg_htn  V1_preg_dm  \
0             0.0              0.0      1.0          0.0         0.0
1             0.0              0.0      2.0          0.0         0.0
2             1.0              0.0      1.0          0.0         0.0
3             0.0              0.0      2.0          0.0         0.0
4             0.0              0.0      1.0          0.0         0.0

   pre_birth
0        1.0
1        1.0
2        1.0
3        1.0
4        0.0

[5 rows x 24 columns]

The output value is:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: TARGET_GDM, dtype: float64

In [26]:
input = torch.FloatTensor(input.to_numpy())
print(input.shape, input.dtype)
output = torch.LongTensor(output.to_numpy())
print(output.shape, output.dtype)
data = TensorDataset(input, output)

torch.Size([2687, 24]) torch.float32
torch.Size([2687]) torch.int64

In [27]:
train_batch_size = 10        
number_rows = len(input)    # The size of our dataset or the number of rows in excel table.  
test_split = int(number_rows*0.3)  
validate_split = int(number_rows*0.2) 
train_split = number_rows - test_split - validate_split     
train_set, validate_set, test_set = random_split( 
    data, [train_split, validate_split, test_split])    
 
# Create Dataloader to read the data within batch sizes and put into memory. 
train_loader = DataLoader(train_set, batch_size = train_batch_size, shuffle = True) 
validate_loader = DataLoader(validate_set, batch_size = 1) 
test_loader = DataLoader(test_set, batch_size = 1)

In [28]:
# Define model parameters 
input_size = list(input.shape)[1]   # = 4. The input depends on how many features we initially feed the model. In our case, there are 4 features for every predict value  
learning_rate = 0.01 
output_size = len(labels)           # The output is prediction results for three types of Irises.  


# Define neural network 
class Network(nn.Module): 
   def __init__(self, input_size, output_size): 
       super(Network, self).__init__() 
        
       self.layer1 = nn.Linear(input_size, 24) 
       self.layer2 = nn.Linear(24, 24) 
       self.layer3 = nn.Linear(24, output_size) 

   def forward(self, x): 
       x1 = F.relu(self.layer1(x)) 
       x2 = F.relu(self.layer2(x1)) 
       x3 = self.layer3(x2) 
       return x3 
 
# Instantiate the model 
model = Network(input_size, output_size)

In [29]:
# Define your execution device 
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu") 
print("The model will be running on", device, "device\n") 
model = model.to(device)    # Convert model parameters and buffers to CPU or Cuda

The model will be running on cuda:0 device

In [30]:
# Function to save the model 
def saveModel(): 
    path = "./NetModel.pth" 
    torch.save(model.state_dict(), path)

In [31]:
# Define the loss function with Classification Cross-Entropy loss and an optimizer with Adam optimizer
loss_fn = nn.CrossEntropyLoss().to(device)
optimizer = Adam(model.parameters(), lr=0.001, weight_decay=0.0001)

In [32]:
# Training Function 
def train(num_epochs): 
    best_accuracy = 0.0 
     
    print("Begin training...") 
    for epoch in range(1, num_epochs+1): 
        running_train_loss = 0.0 
        running_accuracy = 0.0 
        running_vall_loss = 0.0 
        total = 0 
 
        # Training Loop 
        for data in train_loader: 
        #for data in enumerate(train_loader, 0): 
            inputs, outputs = data  # get the input and real species as outputs; data is a list of [inputs, outputs] 
            inputs = inputs.to(device)
            outputs = outputs.to(device)

            optimizer.zero_grad()   # zero the parameter gradients          
            predicted_outputs = model(inputs)   # predict output from the model


            train_loss = loss_fn(predicted_outputs, outputs)   # calculate loss for the predicted output  
            train_loss.backward()   # backpropagate the loss 
            optimizer.step()        # adjust parameters based on the calculated gradients 
            running_train_loss +=train_loss.item()  # track the loss value 
 
        # Calculate training loss value 
        train_loss_value = running_train_loss/len(train_loader) 
 
        # Validation Loop 
        with torch.no_grad(): 
            model.eval() 
            for data in validate_loader: 
               inputs, outputs = data
               inputs = inputs.to(device)
               outputs = outputs.to(device) 
               
               predicted_outputs = model(inputs) 
               val_loss = loss_fn(predicted_outputs, outputs) 
             
               # The label with the highest value will be our prediction 
               _, predicted = torch.max(predicted_outputs, 1) 
               running_vall_loss += val_loss.item()  
               total += outputs.size(0) 
               running_accuracy += (predicted == outputs).sum().item() 
 
        # Calculate validation loss value 
        val_loss_value = running_vall_loss/len(validate_loader) 
                
        # Calculate accuracy as the number of correct predictions in the validation batch divided by the total number of predictions done.  
        accuracy = (100 * running_accuracy / total)     
 
        # Save the model if the accuracy is the best 
        if accuracy > best_accuracy: 
            saveModel() 
            best_accuracy = accuracy 
         
        # Print the statistics of the epoch 
        print('Completed training batch', epoch, 'Training Loss is: %.4f' %train_loss_value, 'Validation Loss is: %.4f' %val_loss_value, 'Accuracy is %d %%' % (accuracy))

In [33]:
# Function to test the model
def test():
    # Load the model that we saved at the end of the training loop
    model = Network(input_size, output_size)
    path = "NetModel.pth"
    model.load_state_dict(torch.load(path))
     
    running_accuracy = 0
    total = 0
 
    with torch.no_grad():
        for data in test_loader:
            inputs, outputs = data
            outputs = outputs.to(torch.float64)
            predicted_outputs = model(inputs)
            _, predicted = torch.max(predicted_outputs, 1)
            total += outputs.size(0)
            running_accuracy += (predicted == outputs).sum().item()
 
        print('Accuracy of the model based on the test set of', test_split ,'inputs is: %d %%' % (100 * running_accuracy / total))


# Optional: Function to test which species were easier to predict
def test_species():
    # Load the model that we saved at the end of the training loop
    model = Network(input_size, output_size)
    path = "NetModel.pth"
    model.load_state_dict(torch.load(path))
     
    labels_length = len(labels) # how many labels of Irises we have. = 3 in our database.
    labels_correct = list(0. for i in range(labels_length)) # list to calculate correct labels [how many correct setosa, how many correct versicolor, how many correct virginica]
    labels_total = list(0. for i in range(labels_length))   # list to keep the total # of labels per type [total setosa, total versicolor, total virginica]
  
    with torch.no_grad():
        for data in test_loader:
            inputs, outputs = data
            predicted_outputs = model(inputs)
            _, predicted = torch.max(predicted_outputs, 1)
             
            label_correct_running = (predicted == outputs).squeeze()
            label = outputs[0]
            if label_correct_running.item():
                labels_correct[label] += 1
            labels_total[label] += 1 
  
    label_list = list(labels.keys())
    for i in range(output_size):
        print('Accuracy to predict %5s : %2d %%' % (label_list[i], 100 * labels_correct[i] / labels_total[i]))

In [34]:
if __name__ == "__main__": 
    num_epochs = 10
    train(num_epochs) 
    print('Finished Training\n') 
    test() 
    test_species()

Begin training...
Completed training batch 1 Training Loss is: 0.2502 Validation Loss is: 0.2573 Accuracy is 93 %
Completed training batch 2 Training Loss is: 0.2254 Validation Loss is: 0.2506 Accuracy is 93 %
Completed training batch 3 Training Loss is: 0.2223 Validation Loss is: 0.2497 Accuracy is 93 %
Completed training batch 4 Training Loss is: 0.2199 Validation Loss is: 0.2540 Accuracy is 93 %
Completed training batch 5 Training Loss is: 0.2246 Validation Loss is: 0.2445 Accuracy is 93 %
Completed training batch 6 Training Loss is: 0.2155 Validation Loss is: 0.2421 Accuracy is 93 %
Completed training batch 7 Training Loss is: 0.2160 Validation Loss is: 0.2478 Accuracy is 93 %
Completed training batch 8 Training Loss is: 0.2172 Validation Loss is: 0.2389 Accuracy is 93 %
Completed training batch 9 Training Loss is: 0.2123 Validation Loss is: 0.2481 Accuracy is 93 %
Completed training batch 10 Training Loss is: 0.2139 Validation Loss is: 0.2346 Accuracy is 93 %
Finished Training

Accuracy of the model based on the test set of 806 inputs is: 94 %
Accuracy to predict    NO : 100 %
Accuracy to predict   YES :  0 %